CreationalPatterns/x64/
CreationalPatterns/ipch/
CreationalPatterns/CreationalPatterns/x64/
CreationalPatterns/CreationalPatterns/Debug/CreationalPatterns.vcxprojResolveAssemblyReference.cache
CreationalPatterns/CreationalPatterns.VC.VC.opendb
CreationalPatterns/CreationalPatterns.VC.db
