DesignPatterns/CreationalPatterns/Debug/
DesignPatterns/CreationalPatterns/x64/
DesignPatterns/x64/
DesignPatterns/ipch/
DesignPatterns/StructuralPatterns/Debug/
DesignPatterns/Debug/
DesignPatterns/.vs/
DesignPatterns/StructuralPatterns/log.txt
DesignPatterns/DesignPatterns.suo
DesignPatterns/DesignPatterns.v11.suo
DesignPatterns/DesignPatterns.opensdf
DesignPatterns/DesignPatterns.sdf
DesignPatterns/BehavioralPatterns/Debug/
